body {
    font-family: sans-serif;
    padding : 1%;
}

.container > * {
    margin : 5px;
}

.container {
    padding : 1%;
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr 1fr;
}

#gridImage {
    grid-column: 1;
    grid-row : 1/3;
}

img {
    width : 100%;
}

#topText {
    background-color: green;
    grid-column: 2/4;
    grid-row: 1;
    padding : 15px;
    color : white;
}

#bottomText {
    background-color: blue;
    grid-column: 2/4;
    grid-row: 2;
    padding : 15px;
    color : white;
}

footer {
    background-color: gray;
    grid-column: 1/4;
    grid-row : 3;
    padding : 15px;
}

#pageTitle, footer {
    text-align: center;
}